* {
  font-family: poppins, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #b1e693;
  font-size: 18px;
  color: #1b1b1b;
}

nav {
  background: #fff;
  padding: 15px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  padding: 0 10px;
}

nav ul a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  text-align: center;
}

.form-group {
  margin: 1rem auto;
}

.form-control {
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  font-size: inherit;
}

.submit {
  text-align: center;
}

.btn {
  padding: 5px 15px;
  background: #fff;
  border: none;
  font-size: inherit;
  cursor: pointer;
}

#msg {
  text-align: center;
}

.formula {
  border: 2px #fff solid;
  text-align: center;
  padding: 5px;
}

.question {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.option {
  display: block;
}
